@import "~uikit/dist/css/uikit.min.css";

* {
    box-sizing: border-box;
}
#root {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-row-gap: 10px;
}
body {
    background-color: ghostwhite;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
.uk-container {
    height: 100%;
}
.uk-notification-message {
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}